Report/main.run.xml
Report/main.synctex-chuwi.gz
Report/main.synctex.gz
Report/main.xdv
Report/.vscode/spellright.dict
Report/main.out
Report/main.log
Report/main.fls
Report/main.fdb_latexmk
Report/main.dvi
Report/main.blg
Report/main.bbl
Report/main.aux
